.App {
    padding: 3%;

}

.App-header {
    background-color: darkslategrey;
    text-align: center;
    color: azure;

}

.C-wraper {
    background-color: darkgray;
}

.C-decription {
    display: flex;
    justify-content: space-around;
}

.C-info {
    list-style: none;
}

.Reviews {
    width: 65%;
    margin: auto;
    text-align: center;
    padding: 2%;
}